html {
	background: url("images/foldedmock.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000;
  margin: 0;
  padding: 0;

}

body {
	margin: 0;
	padding: 0;
}


header {
	background-color: #000;
	opacity: .75;
	margin-top: -16px;
	padding: 0;
	width: 100vw;
	height: 100px;
	position: fixed;
	transition: all 0.4s ease;
}

header.scroll {
	height: 50px;
	transition: all 0.4s ease;
	background-color: #fff;
}

h1 {
	font-family: "Montserrat";
	font-weight: 700;
	text-align: right;
	font-size: 15pt;
	vertical-align: middle;
	padding-right: 50px;
	padding-top: 25px;
	color: white;
	transition: all 0.4s ease;
}

h1.scroll {
	padding-top: 0px;
	text-align: left;
	transition: all 0.4s ease;
	color: black;
}

.ltrspc10 {
	letter-spacing: 10px;
}

h2 {
	font-family: "Lora";
	font-weight: 400;
	letter-spacing: 20px;
	line-height: 100%;
	color: white;
	vertical-align: middle;
	padding-left: 50px;
	padding-top: 6px;
	transition: all 0.4s ease;
}

h2.scroll{
	transition: all 0.4s ease;
	padding-top: 17px;
	padding-bottom: 0px;
	margin: 0;
	text-align: right;
	font-size: 15pt;
	color: black;
}

.leftheader {
	float: left;
	width: 49vw;
	position: relative;
	display: inline-block;
	height: 100px;
	margin: 0;
}

.leftheader.a {
	text-decoration: none;
}

.leftheader.a:hover {
	text-decoration: none;
}

.rightheader {
	float: right;
	width: 49vw;
	position: relative;
	display: inline-block;
	height: 100px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	border-bottom: solid 2.5px white;
	padding-bottom: 2px;
	opacity: 1;
}

a.scroll {
	text-decoration: none;
	color: black;
}

a.scroll:hover {
	border-bottom: solid 2.5px black;
	padding-bottom: 2px;
	opacity: 1;
}