html {
	background: url("images/foldedmock.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000;
  margin: 0;
  padding: 0;
  max-width: 100%;

}

body {
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 0;
	width: 100vw;
	padding: 0;
}


header {
	background-color: 000;
	opacity: .75;
	margin-top: -16px;
	padding: 0;
	width: 100vw;
	height: 100px;
	position: fixed;
	transition: all 0.4s ease;
	z-index: 1;
}

header.scroll {
	height: 50px;
	transition: all 0.4s ease;
	background-color: #fff;
}

h1 {
	font-family: "Montserrat";
	font-weight: 700;
	text-align: right;
	font-size: 15pt;
	vertical-align: middle;
	padding-right: 50px;
	padding-top: 33px;
	color: white;
	transition: all 0.4s ease;
}

h1.scroll {
	padding-top: 7px;
	text-align: left;
	transition: all 0.4s ease;
	color: black;
}

.ltrspc10 {
	letter-spacing: 10px;
}

h2 {
	font-family: "Lora";
	font-weight: 400;
	letter-spacing: 20px;
	line-height: 100%;
	color: white;
	vertical-align: middle;
	padding-left: 50px;
	padding-top: 13px;
	transition: all 0.4s ease;
}

h2.scroll{
	transition: all 0.4s ease;
	padding-top: 23px;
	padding-bottom: 0px;
	margin: 0;
	text-align: right;
	font-size: 15pt;
	color: black; !important
}

.leftheader {
	float: left;
	width: 49vw;
	position: relative;
	display: inline-block;
	height: 100px;
	margin: 0;
}

.leftheader.a {
	text-decoration: none;
}

.leftheader.a:hover {
	text-decoration: none;
}

.rightheader {
	float: right;
	width: 49vw;
	position: relative;
	display: inline-block;
	height: 100px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	border-bottom: solid 2.5px white;
	padding-bottom: 2px;
	opacity: 1;
}

a.scroll {
	text-decoration: none;
	color: black;
}

a.scroll:hover {
	border-bottom: solid 2.5px black;
	padding-bottom: 1px;
	opacity: 1;
}

topgap {
	width: 100vw;
	height: 150px;
	background-color: none;
	opacity: .5;
	display: inline-block;
	position: relative;
	z-index: -1;
}

.main {
	background-color: rgba(0,0,0,.75);
	width: 85vw;
	height: 1107px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	z-index: -2;
}

.banner {
	padding-top: 15px;
	opacity: .75;
}
h3 {
	font-family: "Montserrat";
	font-weight: 700;
	text-align: center;
	font-size: 12pt;
	vertical-align: middle;
	padding-right: 0px;
	padding-top: 6px;
	padding-bottom: 6px;
	color: white;
	letter-spacing: 8px;
	border-top: solid 1px white;
	border-bottom: solid 1px white;
	width: 650px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	margin-bottom: 5px;

}

h4 {
	font-family: "Lora";
	font-weight: 400;
	font-size: 55pt;
	color: white;
	vertical-align: middle;
	text-align: center;
	padding-left: 0px;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.ltrspc20 {
	letter-spacing: 20px;
}

.main > .product {
	opacity: 1; !
}

.ssection {
	width: 775px;
	height: 620px;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	background-color: rgba(255,255,255,0);
	box-shadow: 0px 0px 35px 15px rgba(255,255,255,0);
	border-bottom: solid 1px white;
}

.shirt {
	float: left;
	width: 332px;
	height: 590px;
	margin-left: auto;
	padding-right: 10px;

}

.checkout {
	width: 775px;
	height: 195px;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background-color: none;
	border-bottom: solid 1px white;
}

.summary {
	width: 355px;
	height: 150px;
	background-color: none;
	float:right;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-right: 33px;
	padding-top: 35px;

}

.summarytitle {
	font-family: "Montserrat";
	font-size: 15pt;
	color: white;
	font-weight: 100;
	text-align: center;
}

.clickexplain {
	float: left;
	width: 332px;
	margin-left: 0;
	margin-right: auto;
	padding-right: 10px;
	position: absolute;
	padding-top: 550px;
	padding-left: 110px;
	z-index: 0;
	pointer-events: none;
}

.clickexplain > p {
	font-family: "Montserrat";
	font-size: 8pt;
	color: white;
	font-weight: 400;
	float: left;

}

p {
	font-family: "lora";
	font-size: 12pt;
	color: white;
	font-weight: 400;

}
.productleft {
	width: 340px;
	height: 160px;
	background-color: none;
	float:left;
	margin-bottom: 10px;
}

.productright{
	width: 340px;
	height: 160px;
	background-color: none;
	float:right;
	margin-bottom: 10px;
}

.productright p {
	text-align: center;
	font-size: 10pt;
}

.productleft p {
	text-align: center;
	font-size: 10pt;
}

.paypalleft {
	vertical-align: middle;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:135px;
	height:40px;
}

.paypalright {
	vertical-align: middle;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:135px;
	height:40px;
}

.disclaimer {
	display: inline-block;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 775px;
	margin-top: 20px;
	border-bottom: solid 1px white;


}

.disclaimer p {
	font-size: 10pt;
	font-style: italic;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	
	padding-top: 10px;
}

footer {
	width: 95vw;
	height: 50px;
	background-color: white;
	opacity: .75;
	margin-top: 35px;
	padding-left: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;

}

footer img {
	max-height:40px;
	vertical-align: middle;
	margin-left: 20px;
	padding-top: 5px;
	float: left;
}

footer p {
	float: left;
	color: black;
	font-family: "Montserrat";
	padding-left: 20px;
}

footer p:hover{
	text-decoration: underline;
}

usa {
	font-family: "Lora";
	font-weight: 400;
	letter-spacing: 10px;
	float:right;
}
usa text {
	float:left;
	text-align: left;
	letter-spacing: 2px;
}
usa img {
	height:40px;
	width: 71px;
	padding-right: 80px;
}
