@media screen and (max-width: 950px){
	
	html {
		background-image: none;
	}

	body {
		margin-left: auto;
		margin-right: auto;
		background-color: rgba(0,0,0,.75);
	}

	h2 {
		font-size: 12pt;
		padding-top: 15px;
	}

	h2.scroll {
		display: none;
	}

	h1 {
		font-size: 12pt;
		padding-top: 22px;
	}

	h1.scroll {
		display: none;
	}

	header {
		height: 80px;
		border-bottom: solid 2px white;
	}

	topgap {
		height: 100px;
	}

	header.scroll {
		display: none;
	}

	h4 {
		font-size: 30pt;
	}

	.main {
		max-width: 95vw;
		border: none;
		background-color: rgba(0,0,0,.0);
		margin-left: auto;
		margin-right: auto;
	}

	.shirtsection {
		max-width: 95vw;
		margin-left: auto;
		margin-right: auto;
		background-color: rgba(255,255,255,0);
		box-shadow: none;
	}

	.checkout {
		max-width: 80vw;
		height: 205px;
		margin-left: auto;
		margin-right: auto;
	}

	.summary {
		max-width: 80vw;
		margin-left: auto;
		margin-right: auto;
	}

	.productleft {
		width: 280px;
		display: inline;
	}

	.productright {
		width: 280px;
		display: inline;
	}


	.disclaimer {
		max-width: 80vw;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px; 

	}

	.disclaimer {
		
	}

	footer {
		width: 90vw;
	}


}

@media screen and (max-width: 800px){

	.main {
		height: 1090px;
	}

	.shirtsection {
		width: 80vw;
		height: 580px;

	}

	.shirt {
		width: 275px;
		height: 489px;
		padding-top: 30px;

	}

	.summary {
		width: 275px;
		font-size: 8pt;
		padding-top: 50px;

	}

	.summary > p {
		font-size: 10pt;
	}

	.clickexplain {
		padding-left: 80px;
		padding-top: 480px;
	}
}


@media screen and (max-width: 750px){




}

