@media screen and (max-width: 900px){
	
	html {
		background-image: none;
	}

	body {
		margin-left: auto;
		margin-right: auto;
		background-color: rgba(0,0,0,.75);
	}

	h2 {
		font-size: 12pt;
		padding-top: 20px;
	}

	h2.scroll {
		display: none;
	}

	h1 {
		font-size: 12pt;
		padding-top: 25px;
	}

	h1.scroll {
		display: none;
	}

	header {
		height: 80px;
		border-bottom: solid 2px white;
	}

	topgap {
		height: 100px;
	}

	header.scroll {
		display: none;
	}

	h4 {
		font-size: 30pt;
	}

	.main {
		max-width: 95vw;
		border: none;
		background-color: rgba(0,0,0,.0);
		margin-left: auto;
		margin-right: auto;
	}

	.shirtsection {
		max-width: 95vw;
		margin-left: auto;
		margin-right: auto;
	}

	.checkout {
		max-width: 95vw;
		margin-left: auto;
		margin-right: auto;
	}

	.summary {
		max-width: 95vw;
		margin-left: auto;
		margin-right: auto;
	}

	.disclaimer {
		max-width: 95vw;
		margin-left: auto;
		margin-right: auto;
	}

	.disclaimer {
		border-bottom: solid 2px white;
	}


}

